<br><br><br><br>
<div style="text-align: center;" class="container">
  <h2>RAPPORT DES AGENTS</h2><br>
  <div class="row-ex row container">


    <div class="card" style="width: 16rem; margin-left: 5px; cursor: pointer;" *ngFor="let item of data; let i = index" #card >
      <h6 class="card-subtitle mt-1 text-body-secondary" style="margin-left: 6em;">
        <button type="submit" class="btn-close" (click)="closeCard(card)"></button>
      </h6>
      <div class="card-body" [routerLink]="['/superviseur', 'view_report', item?.uid, item?.report_id]">
        <div class="d-flex">
          <h5 class="card-title"> {{item?.matricule}} </h5>

        </div>
        <p class="card-text"> {{item?.comment}} </p>
      </div>
    </div>


</div>


