.div-gr{
  height: 1000px;
  display: flex;
  background-color: #f1f1f1;
  justify-content: space-around;
  border: px solid red;
}

.row-ex{
  height: 200px;
  width: 100%;
  padding: 0px;
  // display: flex;
  // justify-content: space-around;
  border-radius: 15px;
  height: 170px;
  margin-top: 20px;
  background-color: white;
  border: px solid red;
}

.col-ex{
  display: flex;
  justify-content: space-around;
  height: 90%;
  width: 32%;
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 0px;
  margin-left: 1%;
  border: px solid red;
}

.div-photo{
  margin: 0px 1% 0px 0px;
  width: 39%;
  height: 100%;
  border: px solid red;
}

.div-info{
  margin: 0px;
  height: 100%;
  border: px solid red;
}

.info-text{
  border: px solid red;
  height: 95px;
}

.div-button{
  display: flex;
  justify-content: space-between;
  height: 27px;
  padding: 0px;
}

.button{
  padding: 0px 0px 2.5px 0px;
  text-align: center;
  width: 48%;
  border: px solid red;
}

.horizon{
  height: 100%;
  width: 1%;
  border-radius: 5px;
  background-color: #c2c2c2;
}
