<div class="container bg-light">



    <section class="vh-100">
      <div class=" py-5 h-100">
        
        <div class="alert alert-warning mt-5" role="alert">
          <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio?</li>
          </ol>
        </div>
        <div class="row d-flex h-100">
          
          <div class="col mt-3">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid"
                      style="width: 150px; border-radius: 10px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">KOUASSI JULBERT</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">Agent de terrain</p>
                    <div class="rounded-3 p-2 mb-2"
                      style="background-color: #efefef;">
                    <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="d-flex pt-1">
                      <button type="button" class="btn btn-success me-1 flex-grow-1">Validé</button>
                      <button type="button" class="btn btn-danger flex-grow-1">Ajournné</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col mt-3">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid"
                      style="width: 180px; border-radius: 10px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">BEN ALPHA</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">Agent de terrain</p>
                    <div class="rounded-3 p-2 mb-2"
                      style="background-color: #efefef;">
                    <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="d-flex pt-1">
                      <button type="button" class="btn btn-success me-1 flex-grow-1">Validé</button>
                      <button type="button" class="btn btn-danger flex-grow-1">Ajournné</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col mt-3">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid"
                      style="width: 180px; border-radius: 10px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">PIERRE GREGOIRE</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">Agent de terrain</p>
                    <div class="rounded-3 p-2 mb-2"
                      style="background-color: #efefef;">
                    <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="d-flex pt-1">
                      <button type="button" class="btn btn-success me-1 flex-grow-1">Validé</button>
                      <button type="button" class="btn btn-danger flex-grow-1">Ajournné</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
  
  
        </div>
      </div>
    </section>
  </div>