.card {
  margin-bottom: 30px;
  position: relative;
  top: 164px;
  width: 55%;
  height: 55vh;
  left: 22%;

  form{
    padding: 10px;
    // box-shadow: 2px 2px 2px 1px rgba(49, 49, 49, 0.2);
  }
}
