.all-a a {
  color: rgb(255, 255, 255);
}

.vert{
  margin-left: 10px;
  border-radius: 80px;
  background: linear-gradient(125deg, #09ff00, #f0f0f0);
  box-shadow:  8px 8px 16px #b1b1b1,
             -8px -8px 16px #ffffff;
  }

.jaune{
  border-radius: 80px;
  background: linear-gradient(125deg, #fbff00, #f0f0f0);
  box-shadow:  8px 8px 16px #b1b1b1,
             -8px -8px 16px #ffffff;
}

.bleu{
  border-radius: 80px;
  background: linear-gradient(140deg, #0400ff, #f0f0f0);
  box-shadow:  8px 8px 16px #b1b1b1,
             -8px -8px 16px #ffffff;
}

.orange{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 80px;
  background: linear-gradient(140deg, #ff7b00, #f0f0f0);
  box-shadow:  8px 8px 16px #b1b1b1,
             -8px -8px 16px #ffffff;
}

.orange:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.carte {
    width: 270px;
    padding: 10px;
    margin-left: 25px;
    text-align: center;
    cursor: pointer;
}

.cartegr{
  width: 270px;
  padding: 10px;
  margin-left: 37.5%;
  text-align: center;
  cursor: pointer;
}

.icone {
    width: 50px;
    height: 50px;
    // margin: 0 auto;
    font-size: 40px; /* Taille de l'icône */
    color: #000000; /* Couleur de l'icône */

}

h2 {
    color: #000000;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.tb2{
    border-top: 5px solid #cd0f0f;
    border-right: 1px solid #cd0f0f;
    border-bottom: 1px solid #cd0f0f;
    border-left: 5px solid #cd0f0f;
    height: auto;
}
.tb1{
    border-top: 5px solid #0fcd77;
    border-right: 1px solid #0fcd77;
    border-bottom: 1px solid #0fcd77;
    border-left: 5px solid #0fcd77;
    height: auto;
}
