<div class="container">
    <div class="row mb-5">
        <a routerLink="" class="col border rounded p-4 me-2 bg-success" style="margin-top: 10%;">
            <div class="carte">
                <i class="fa-solid fa-arrows-to-eye icone"></i>
                <h2>Vus d'ensemble</h2>
            </div>
        </a >
        <a routerLink="" class="col border rounded p-4  me-2 bg-danger" style="margin-top: 10%;">
            <div class="carte">
                <i class="fa-solid fa-skull-crossbones icone"></i>
                <h2>Alertes en temps réel</h2>
            </div>
            
        </a >
        <a routerLink="" class="col border rounded bg-primary p-4 me-2" style="margin-top: 10%;">
            <div class="carte">
                <i class="fa-solid fa-chart-column icone"></i>
                <h2>Statistiques de sécurité</h2>
            </div>
          
        </a >
        <a routerLink="" class="col border rounded bg-warning p-4" style="margin-top: 10%;">
            <div class="carte">
                <i class="fa-solid fa-scale-unbalanced-flip icone"></i>
                <h2>Politiques de sécurité</h2>
            </div>
        </a >
    </div>

    <div class="mt-4 tb1 p-4">
        <div class="row mb-4">
            <div class="col"></div>
            <div class="col">RAPPORT DES AGENTS VALIDER PAR L'ADMINISTRATION</div>
            <div class="col"></div>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Matricul</th>
                <th scope="col">Nom</th>
                <th scope="col">Rapport du jour</th>
                <th scope="col">NOTE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Valider</td>
              </tr>
             
            </tbody>
          </table>
    </div>

    <div class="mt-4 p-4 tb2">
        <div class="row mb-4">
            <div class="col"></div>
            <div class="col">RAPPORT DES AGENTS AJOURNNER PAR L'ADMINISTRATION </div>
            <div class="col"></div>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Matricul</th>
                <th scope="col">Nom</th>
                <th scope="col">Rapport du jour</th>
                <th scope="col">NOTE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Valider</td>
              </tr>
             
            </tbody>
          </table>
    </div>


    <div class="alert alert-warning mt-3" role="alert">
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
</div>