.grdiv{
  border: 1px solid red;
  height: auto;
  padding-top: 70px;
}

.session1{
  border: 1px solid red;
  height: 300px;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;


//   -webkit-animation-name: diapo1;
//   -webkit-animation-duration: 25s;
//   -webkit-animation-timing-function: linear;
//   -webkit-animation-iteration-count: infinite;
//   -webkit-animation-direction: normal;

//   -moz-animation-name: diapo1;
//   -moz-animation-duration: 25s;
//   -moz-animation-timing-function: linear;
//   -moz-animation-iteration-count: infinite;
//   -moz-animation-direction: normal;

//   animation-name: diapo1;
//   animation-duration: 20s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
//   animation-direction: normal;
// }

// @-webkit-keyframes diapo1{
//   0%{background-image: url("image-diapo1.png");}
//   25%{background-image: url("image-diapo2.png");}
//   50%{background-image: url("image-diapo3.png");}
//   75%{background-image: url("image-diapo4.png");}
// }

// @-moz-keyframes diapo1{
//   0%{background-image: url("image-diapo1.png");}
//   25%{background-image: url("image-diapo2.png");}
//   50%{background-image: url("image-diapo3.png");}
//   75%{background-image: url("image-diapo4.png");}
// }

// @-keyframes diapo1{
//   0%{background-image: url("image-diapo1.png");}
//   25%{background-image: url("image-diapo2.png");}
//   50%{background-image: url("image-diapo3.png");}
//   75%{background-image: url("image-diapo4.png");}
}
