<div class="container bg-light">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="alert alert-warning mt-5" role="alert">
        <ol>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
        </ol>
      </div>

      <div class="row">
        <div class="col mb-3"></div>
        <div class="col">
            <div style="margin-left: 30px">
              <canvas id="qr-code" class="ms-4"></canvas>
            </div>
            <button class="btn btn-secondary">IMPRIMER</button>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </section>
</div>
