<div class="container bg-light">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="alert alert-warning mt-5" role="alert">
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio?</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio?</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio?</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio?</li>
        </ol>
      </div>
      <div class="row h-100">

     <div  style=" position: relative; top: 30%; left: 35%;">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/products/qrcode.png" class="card-img-top" alt="...">
        <div class="card-body">
          <button class="btn btn-primary ms-4">Generer le QR-CODE</button>
        </div>
      </div>
     </div>

      </div>
    </div>
  </section>
</div>