<div class="container bg-light">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="alert alert-warning mt-5" role="alert">
        <ol>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
        </ol>
      </div>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">MATRICULE DE L'AGENT</th>
            <th scope="col">DATE ET HEURE D'ARRIVEE</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <th scope="row"> {{item?.id}} </th>
            <td> {{item?.matricule}} </td>
            <td> {{item?.date_and_hour}} </td>
            <td> <a [routerLink]="['/superviseur','agent_profile', item?.matricule]" class="btn btn-warning"><i class="fa-solid fa-eye"></i></a ></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
