<div class="container">
  <div style="padding: 0px;" class="row mb-5 all-a">
      <a routerLink="" class="vert col  rounded p-4" style="margin-top: 10%;">
          <div class="carte">
              <i class="fa-solid fa-arrows-to-eye icone"></i>
              <h2>Vus d'ensemble</h2>
          </div>
      </a >
      <a routerLink="" class="jaune col  rounded p-4" style="margin-top: 10%;">
          <div class="carte">
              <i class="fa-solid fa-skull-crossbones icone"></i>
              <h2>Alertes en temps réel</h2>
          </div>

      </a >
      <a routerLink="" class="bleu col  rounded p-4" style="margin-top: 10%;">
          <div class="carte">
              <i class="fa-solid fa-chart-column icone"></i>
              <h2>Statistiques de sécurité</h2>
          </div>

      </a >
      <a routerLink="" class="orange col rounded p-4" style="margin-top: 10%;">
          <div class="cartegr">
              <i class="fa-solid fa-scale-unbalanced-flip icone"></i>
              <h2>Politiques de sécurité</h2>
          </div>
      </a >
  </div>

  <div style="margin-bottom: 20px;
  margin-top: 30px;" class="mt-4 tb1 p-4">
      <div class="row mb-4">
          <div style="text-align: center;" class="col">AGENTS VALIDER PAR L'ADMINISTRATION</div>
      </div>
      <table style="padding-top: 30px; margin-bottom: 30px;" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Matricul</th>
              <th scope="col">Nom</th>
              <th scope="col">Rapport du jour</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>

          </tbody>
        </table>
  </div>

  <div style="margin-bottom: 20px;" class="mt-4 p-4 tb2">
      <div class="row mb-4">
          <div style="text-align: center;" class="col">AGENTS AJOURNNER PAR L'ADMINISTRATION </div>
      </div>
      <table style="padding-top: 30px; margin-bottom: 30px;" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Matricul</th>
              <th scope="col">Nom</th>
              <th scope="col">Rapport du jour</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>

          </tbody>
        </table>
  </div>


  <!-- <div class="alert alert-warning mt-3" role="alert">
      <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
      </ul>
  </div> -->
</div>
