<div style="border: 1px solid red;" class="container bg-light">
  <section class="p-0">
    <div style="border: 1px solid red;" class="container p-0 py-5 h-100">
      <div class="alert alert-warning mt-5" role="alert">
        <ol>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
        </ol>
      </div>

      <div style="margin: 0px 0px 40px 0px; display: flex; height: auto; justify-content: space-between; width: 100%;" class="row container-fluid p-0">
        <div
          style="background-color: #fff; padding-top: 45px; max-width: 24.25%; height: 205px; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/group_cofinance.png"
            alt=""
            width="100%"

          />
        </div>
        <div
          style="max-width: 24.25%; height: 205px; background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/ayuf.png"
            alt=""
            width="100%"
            height="205"
          />
        </div>
        <div
          style="max-width: 24.25%; height: 205px; background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/coopec.png"
            alt=""
            width="100%"
            height="205"
          />
        </div>
        <div
          style="max-width: 24.25%; height: 205px; background-color: #fff; text-align: center"
        >
          <img
          style="font-size: 100%;"
            src="../../../assets/images/partenaire/cosmos.png"
            alt=""
            width="100%"
            height="205"

          />
        </div>
      </div>
      <div style="margin: 0px 0px 40px 0px; display: flex; height: auto; justify-content: space-between; width: 100%;" class="row container-fluid p-0">
        <div
          style="background-color: #fff; padding-top: 0px; max-width: 24.25%; height: 205px; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/hec.png"
            alt=""
            width="100%"
            height="205"
          />
        </div>
        <div
          style="max-width: 24.25%; height: 205px; background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/sotra.png"
            alt=""
            width="100%"
            height="205"
          />
        </div>
        <div
          style="margin: 0px; max-width: 24.25%; height: 205px; background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/efca.png"
            alt=""
            width="100%"
            height="205"
          />
        </div>
        <div
          style="max-width: 24.25%; padding-top: 77px; height: 205px; background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/incigrup.png"
            alt=""
            width="100%"
          />
        </div>
      </div>
      <div style="margin: 0px 0px 40px 0px; display: flex; height: auto; justify-content: space-between; width: 100%;" class="row container-fluid m-0 p-0">
        <div
          style="background-color: #fff; padding-top: 45px; max-width: 24.25%; height: 205px; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/group_cofinance.png"
            alt=""
            width="100%"
          />
        </div>
        <div
          style="max-width: 24.25%; height: 205px; background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/ayuf.png"
            alt=""
            width="100%"
            height="205"
          />
        </div>
        <div
          style="max-width: 24.25%; height: 205px; background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/coopec.png"
            alt=""
            width="100%"
            height="205"
          />
        </div>
        <div
          style="max-width: 24.25%; height: 205px; background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/cosmos.png"
            alt=""
            width="100%"
            height="205"
          />
        </div>
      </div>
    </div>
  </section>
</div>
