<div class="container bg-light">
  <section class="">
    <div class="container py-5 h-100">
      <div class="alert alert-warning mt-5" role="alert">
        <ol>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, distinctio?
          </li>
        </ol>
      </div>

      <div class="row">
        <div
          class="col border me-3 mb-3"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/group_cofinance.png"
            alt=""
            width="280"
          />
        </div>
        <div
          class="col border me-3 mb-3"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/ayuf.png"
            alt=""
            width="280"
          />
        </div>
        <div
          class="col border mb-3"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/coopec.png"
            alt=""
            width="280"
          />
        </div>
      </div>

      <div class="row">
        <div
          class="col border me-3"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/cosmos.png"
            alt=""
            width="280"
          />
        </div>
        <div
          class="col border me-3"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/hec.png"
            alt=""
            width="280"
          />
        </div>
        <div
          class="col border"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/sotra.png"
            alt=""
            width="280"
          />
        </div>
      </div>

      <div class="row">
        <div
          class="col border me-3"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/efca.png"
            alt=""
            width="280"
          />
        </div>
        <div
          class="col border me-3"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/incigrup.png"
            alt=""
            width="280"
          />
        </div>
        <div
          class="col border"
          style="background-color: #fff; text-align: center"
        >
          <img
            src="../../../assets/images/partenaire/gcc.png"
            alt=""
            width="280"
          />
        </div>
      </div>
    </div>
  </section>
</div>
